:root {
    --main-red: rgb(253, 199, 199);
    --dark-red: rgb(255, 182, 182);
    --main-gray: rgb(230, 230, 230);
    --dark-gray: rgb(195, 194, 194);
    --dark-dark-gray: rgb(181, 181, 181);
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
    margin: 0.8rem;
    background-color: black;
    border-radius: 10px;
    width: 30%;
}

header img {
    width: 40px;
    transition: width 0.2s ease-in-out;
}

header img:hover {
    width: 45px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-block: 30px;
}

.main-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 30px;
    text-align: center;
}

.main-container h1 {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 2.5rem;
}

.contact-list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.contact-list li {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.contact-list a {
    text-align: start;
    width: 100%;
    padding: 1rem;
    background-color: var(--main-gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.contact-list a:hover,
.contact-list a:focus {
    background-color: rgb(220, 220, 220);
}

.contact-list li:not(:first-child) a {
    border-top: 1px solid var(--dark-dark-gray);
}

.contact-list li:first-child a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.contact-list li:last-child a {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contact-list .contact-picture {
    width: 40px;
    height: 40px;
}

.search-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--main-gray);
    padding: 1rem;
    border-radius: 10px;
    gap: 10px;
}

.search-form img {
    width: 20px;
}

input {
    width: 200px;
    padding: 0.5rem;
    border: 1px solid var(--main-gray);
    border-radius: 5px;
}

.btn {
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn-default {
    background-color: var(--dark-gray);
}

.btn-default:hover,
.btn-default:focus {
    background-color: var(--dark-dark-gray);
}

.btn-red {
    background-color: var(--main-red);
}

.btn-red:hover,
.btn-red:focus {
    background-color: var(--dark-red);
}

.column-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    text-align: start;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact-picture {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid black;
}

.contact-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.contact-link {
    text-decoration: underline;
    color: rgb(129, 129, 255);
}

.contact-link:hover,
.contact-link:focus {
    color: rgb(70, 70, 255);
}

.contacts-number {
    background-color: var(--main-gray);
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 0.8em;
}

.alert {
    padding: 10px;
    border-radius: 10px;
    width: 90vw;
}

.alert-red {
    background-color: var(--main-red);
}

.alert-green {
    background-color: rgb(224, 255, 221);
}

.alert-yellow {
    background-color: rgb(255, 252, 221);
}