{% extends 'layout.html' %}
{% block title %}{{ contact|contact_label }}{% endblock %}
{% block content %}
<div class="contact-title">
    {% if contact.picture %}
    <img src="{{ url_for('static',filename='pictures/'+contact['picture']) }}">
    {% else %}
    <img src="{{ url_for('static',filename='pictures/default.png') }}">
    {% endif %}
    <h1>{{ contact|contact_label }}</h1>
</div>
<form class="column-list" method="POST">
    {{ form.csrf_token }}
    {{ form.first_name.label }}
    {{ form.first_name(class="input-style") }}
    {{ form.last_name.label }}
    {{ form.last_name(class="input-style") }}
    {{ form.tel.label }}
    {{ form.tel(class="input-style") }}
    {{ form.submit(class="button-style") }}
</form>
{% endblock %}