{% extends 'layout.html' %}
{% block title %}{{ contact|contact_label }}{% endblock %}
{% block content %}
<div class="contact-title">
    {% if contact.picture %}
    <img src="{{ url_for('static',filename='pictures/'+contact['picture']) }}">
    {% else %}
    <img src="{{ url_for('static',filename='pictures/default.png') }}">
    {% endif %}
    <h1>{{ contact|contact_label }}</h1>
</div>
<form class="column-list">
    {% for key, value in contact.items() %}
    {% if key != "id" %}
    <div>
        <label for="{{ key }}">{{ key }}</label>
        <input id="{{ key }}" name="{{ key }}" type="text" placeholder="{{ key }}" value="{{ value }}">
    </div>
    {% endif %}
    {% endfor %}
    <input class="button-style" type="submit" value="Enregistrer">
</form>
{% endblock %}