{% extends 'layout.html' %}
{% block title %}Accueil{% endblock %}
{% block content %}
<h1>Contacts <span class="contacts-number">{{ contacts|length }}</span></h1>
<form method="get" class="search-form">
    <input type="text" id="recherche" name="recherche" placeholder="Prenom, Nom, ou Téléphone">
    <button type="submit" class="btn btn-default">
        <img src="{{ url_for('static',filename='icons/search.png') }}">
    </button>
</form>
{% if contacts|length > 0 %}
<ul class="contact-list">
    {% for contact in contacts %}
    <li>
        <a href="{{ url_for('contact_infos', contact_id=contact.id) }}">
            {% include "contact-picture.html" %}
            <span>{{ contact|contact_label }}</span>
        </a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>Aucun contact</p>
{% endif %}
{% endblock %}