{% extends 'layout.html' %}
{% block title %}{{ contact|contact_label }}{% endblock %}
{% block content %}
<div class="contact-title">
    {% include "contact-picture.html" %}
    <h1>{{ contact|contact_label }}</h1>
</div>
<ul class="column-list">
    {% for key, value in contact.items() %}
    {% if key not in ["id", "picture"] %}
    <li>
        <h3>{{ key }}</h3>
        <p>{{ value }}</p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
<div>
    <a href="{{ url_for('contact_edit_page', contact_id=contact.id) }}" class="button-style">Modifier</a>
    <a href="{{ url_for('contact_delete', contact_id=contact.id) }}"
        class="button-style alert-red button-delete">Supprimer</a>
</div>
{% endblock %}