{% extends 'layout.html' %}
{% block title %}{{ contact|contact_label }}{% endblock %}
{% block content %}
<div class="contact-title">
    {% include "contact-picture.html" %}
    <h1>{{ contact|contact_label }}</h1>
</div>
<ul class="column-list">
    {% for key, value in contact.items() %}
    {% if key not in ["id", "picture"] and value %}
    <li>
        <h3>{{ key|database_key_to_txt }}</h3>
        {% if key in ["tel", "tel_sec"] %}
        <a class="contact-link" href="tel:{{ value }}">{{ value }}</a>
        {% elif key == "email" %}
        <a class="contact-link" href="mailto:{{ value }}">{{ value }}</a>
        {% elif key == "adresse" %}
        <a class="contact-link" href="http://maps.google.com/?q={{ value|urlencode }}" target="_blank">{{ value }}</a>
        {% else %}
        <p>{{ value }}</p>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>
<div class="contact-actions">
    <a href="{{ url_for('contact_edit_page', contact_id=contact.id) }}" class="btn btn-default">Modifier</a>
    <a href="{{ url_for('contact_delete', contact_id=contact.id) }}" class="btn btn-red">Supprimer</a>
</div>
{% endblock %}