<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - Répertoire Téléphonique</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body>
    <header>
        <ul>
            <li><a href={{ url_for('index') }}>Accueil</a></li>
            <li><a href={{ url_for('contact_add_page') }}>Ajouter</a></li>
        </ul>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <section class="main-container">
            {% block content %} {% endblock %}
        </section>
    </main>
</body>

</html>